$blue: #204056;
$dark-blue: #152b39;
$editor: #354551;
$grey-1: #f1f2f2;
$grey-2: #e6e7e8;
$grey-2-5: #d1d3d4;
$grey-3: #bcbec0;
$grey-4: #939598;
$grey-5: #4a4a4c;
$grey-6: darken($grey-5, 10%);
$light-blue: #59a1c9;
// $mint: #39d1b4;
$premium-mint: #34b3a0;

// life in weeks
$past-grey: #404040;
$future-grey: lighten($past-grey, 5%);
$after-life-grey: $past-grey;
$red: #e06c75;
$yellow: #e5c07b;
$orange: #D1794C;
$purple: #A64191;
$green: #9CC77F;
$mint: #56b6c2;
$border-grey: #A4A5A7;
