.life-week-container{
    background-color: black;
    padding-bottom: 8em;
}

.popover.top > .arrow:after {
    border-top-color: $grey-1;
}

.popover{
    background-color: $grey-1;
    color: $grey-6;
    text-align: center;
    max-width: 15em;
    font-family: $font-family;
}

.all-weeks{
    margin: auto;
}

.header{
    margin-bottom: 4em;
    padding-top: 4em;
}

.week-entry {
    color: $grey-1;
    text-align: left;
    margin-bottom: 3em;
    .date{
        background-color: $grey-3;
        color: black;
        padding: 0.5em 5em 0.5em 1em;
        border-radius: 50em;
        display: inline-block;
        margin-bottom: 1em;

        &.projects{
            background-color: $mint;
        }

        &.life-event{
            background-color: $yellow;
        }

        &.school{
            background-color: $orange;
        }

        &.career{
            background-color: $green;
        }

        &.misc{
            background-color: $red;
        }
    }
    .description{
        margin-left: 2em;
        display: inline-block;
        font-size: 1.1em;
    }
}


@media (max-width: 1103px){
    .all-weeks{
        max-width: 664px;
    }
}

@media (max-width: 664px){
    .all-weeks{
        max-width: 80vw;
    }
}

.week-wrapper{
    display: block;
    float: left;
}

.sq{
    height: 19px;
    width: 19px;
    margin: 1px;
}

.past{
    background-color: $past-grey;
}

.thisWeek{
    background-color: $grey-1;
}

.future{
    background-color: $future-grey;
}

.life-event{
    background-color: $yellow;
}

.school{
    background-color: $orange;
}

.career{
    background-color: $green;
}

.world-event{
    background-color: $border-grey;
    border: 1px solid $border-grey;
}

.projects{
    background-color: $mint;
}

.misc{
    background-color: $red;
}

.after-life{
    background-color: $past-grey;
}

.birthday{
    border: 1px solid darken($border-grey, 15%);

    &.future{
        border: 1px dashed darken($border-grey, 15%);
    }

    &.life-expectancy{
        background-color: $light-blue;
    }
}
