.swarm {
  /* fallback */
  background-color: $swarmOrange;
  background-image: url('/images/dashed-lines.svg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;

  .header{
      padding: 4em 0 0 0;
      text-align: left;
      max-width: calc(1103px + 4em);
      margin: 0 auto;
      color: white;
      margin-bottom: 3em;
  }


  .checkinContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    .checkin {
      display: flex;
      margin: 0 4em;
      margin-bottom: 6em;
      i {
        font-size: 2em;
        float: left;
        margin-right: 0.5em;
        color: $grey-1;

      }
      .name {
        font-size: 2em;
        color: $grey-1;
      }
      .category {
        font-size: 1.3em;
        color: #FDDBA8;

      }
    }
  }
}
