$bg-color: darken(#FDD692, 5%);
$cowboy: darken(#754F44, 5%);
$orange: darken(#EC7357, 5%);
$yellow: darken(#FBFFB9, 5%);
.raspi-app {
    font-family: 'Lato', Helvetica, sans-serif;
    color: $cowboy;
    letter-spacing: 0.05em;
    background-color: $bg-color;
    height: 480px;

    line-height: 1.5em !important;
    .time {
        padding: 0.5em 1em;
        background-color: white;
        color: black;
        text-align: center;
        position: absolute;
        right: 0;
        margin: 0.5em;
        border-radius: 6px;
        box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4)

    }
    .weather-pane {
        width: 20vw;
        height: 480px;
        float: left;
        background: darken(#2BC0E4, 10%);
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, darken(#2BC0E4, 10%) , #FFF7AC);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, darken(#2BC0E4, 10%) , #FFF7AC);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 6em 1em;
        color: black;

        img {
            max-width: 10vw;
        }

        .temp{
            margin: 1em;
            font-size: 5vw;
        }

        .condition{
            font-size: 1.75vw;
        }


    }

    .coffee-pane {
        padding: 3em 0;
        width: 80vw;
        height: 480px;
        float:left;
        object {
            width: 5em;
            margin: 2em;
        }
    }


}
