
<div>
    <strong>{{ week.date | date:'MMM yyyy' }}</strong>
    <span ng-if="$index === 0">
        <br />I was born!
    </span>
    <span ng-if="mathFloor($index / 52) !== 0 && mathFloor($index / 52) <= myAge">
        <br />I turned {{ ($index / 52) | number: 0 }}.
    </span>
    <span ng-if="mathFloor($index / 52) !== 0 && mathFloor($index / 52) > myAge">
        <br />I will turn {{ ($index / 52) | number: 0}}.
        <span ng-if="week.desc">
        <br />{{ week.desc }}
        </span>
    </span>
</div>
