
<div>
    {{ week.date | date }}
    <span ng-if="vm.mathFloor($index / 52) === 0">
        <br />I was born!
    </span>
    <span ng-if="vm.mathFloor($index / 52) !== 0 && vm.mathFloor($index / 52) <= vm.myAge">
        <br />I turned {{ vm.mathFloor($index / 52) }}.
    </span>
    <span ng-if="vm.mathFloor($index / 52) !== 0 && vm.mathFloor($index / 52) > vm.myAge">
        <br />I will turn {{ vm.mathFloor($index / 52) }}.
        <span ng-if="week.description">
        <br />{{ week.description }}
        </span>
    </span>
</div>
