<div class="raspi-app">
    <span class="time">
        {{ vm.currentTime }}
    </span>

    <div class="weather-pane">

        <img ng-src="{{ vm.weatherIcon }}" class="weather-icon" />
        <br />

        <div class="temp">{{ vm.currentWeather | number: 0 }}°</div>
        <div class="condition">{{ vm.currentCondition }}</div>

    </div>

    <div class="coffee-pane">
        <object type="image/svg+xml" data="images/chemex.svg" class=""></object>

        <h3> Coffee app <br /> [in_development] </h3>
    </div>
</div>
