<div class="header">
    <p class='pull-left' style="color: white">Life by week:</p>
</div>

<div class="all-weeks" ng-if="windowWidth >= breakPoint">
    <div ng-repeat="week in weeks track by week.id" class="week-wrapper">
        <div ng-if="week.desc">
            <div class="sq {{week.class}}" uib-popover-template="week.tpl" popover-trigger="mouseenter"></div>
        </div>
        <div ng-if="!week.desc">
            <div class="sq {{week.class}}"></div>
        </div>
    </div>
</div>
<div class="clearfix"></div>


<div class="small-weeks" ng-if="windowWidth < breakPoint">
    <div ng-repeat="week in weeks | filter: { nE: true} | orderBy: id | limitTo: -5 track by week.id" >
        <div class="week-entry">
            <span class="date {{week.class}}">{{ week.date | date: 'MMMM yyyy' }}</span><br />
            <span class="desc">{{ week.desc }}</span>
        </div>
    </div>
</div>
