<div ng-controller="MainCtrl as vm" class="main" resize>

  <div class="content-container">
    <nav>
      <div class="left-nav">
        <img ng-src="{{vm.profile.avatar}}" />
        <span class="name" ng-if="windowWidth >= vm.breakPoint ">{{ vm.profile.name }}</span>
      </div>

      <div class="social-media">
        <ul>
          <li ng-repeat="key in vm.profile.socialIcons">
            <a href="{{key.url}}" target="new"><i class="fa fa-lg social-media-icon" ng-class="key.icon"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="content-container ">
    <div class="about-me">
      <h3> I'm a front-end developer in Chicago. I like photography, <em>love</em> coffee, and I have a <a href='https://www.instagram.com/nikko__dog/'>dog named Nikko.</a>
      </h3>
    </div>
  </div>

  <div class="content-container">
    <div class="header">
      <p>Projects:</p>
    </div>
    <div class="dev-projects">
      <project project="vm.projects.responsive"></project>
      <project project="vm.projects.tacotime"></project>
      <project project="vm.projects.givvy"></project>
    </div>
  </div>

  <div class="instagram" ng-controller="InstagramCtrl as vm">
    <div class="content-container">
      <div class="header">
        <p>Photography:</p>
      </div>
      <div class="instagram-container">
        <div ng-if="windowWidth >= vm.breakPoint" ng-repeat="photo in vm.instagramPhotos">
          <a ng-href={{photo.link}} target="new">
            <div class="photo" style="transform: rotate( {{ photo.rotate }}deg);">
              <div ng-if="!photo.video">
                <img ng-src="{{photo.image}}" />
              </div>
              <div ng-if="photo.video">
                <video autoplay loop src="{{photo.video}}"></video>
              </div>
              <p>
                {{ photo.created_time | date: 'MMM dd, yyyy' }} <span ng-if="photo.location">@ {{ photo.location }}</span>
                <br /> {{ photo.caption }}
                <br />
              </p>
            </div>
          </a>
        </div>

        <div ng-if="windowWidth < vm.breakPoint" ng-repeat="photo in vm.instagramPhotos | limitTo: 1">
          <a ng-href={{photo.link}} target="new">
            <div class="photo" style="transform: rotate( {{ photo.rotate }}deg);">
              <div ng-if="!photo.video">
                <img ng-src="{{photo.image}}" />
              </div>
              <div ng-if="photo.video">
                <video autoplay loop src="{{photo.video}}"></video>
              </div>
              <p>
                {{ photo.created_time | date: 'MMM dd, yyyy' }} <span ng-if="photo.location">@ {{ photo.location }}</span>
                <br /> {{ photo.caption }}
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="swarm" ng-controller="SwarmCtrl as vm">
    <div class="content-container">

      <div class="header">
        <p>Recently seen at:</p>
      </div>

      <div class="checkinContainer">
        <div ng-if="windowWidth >= vm.breakPoint" ng-repeat="place in vm.data | limitTo: 3">

          <div class="checkin">
            <div ng-if="place.sticker.image.name" class="checkin-marker">
              <img ng-src="{{place.sticker.image.prefix}}60{{place.sticker.image.name}}" />
            </div>
            <div ng-if="!place.sticker.image.name" class="checkin-marker">
              <i class="fa fa-map-pin" aria-hidden="true"></i>
            </div>
            <div>
              <div class="name">
                {{ place.venue.name }}
              </div>
              <div class="category">
                {{ place.venue.categories[0].name }}
              </div>
            </div>
          </div>
        </div>


        <div ng-if="windowWidth < vm.breakPoint" ng-repeat="place in vm.data | limitTo: 1">

          <div class="checkin">
            <div ng-if="place.sticker.image.name" class="checkin-marker">
              <img ng-src="{{place.sticker.image.prefix}}60{{place.sticker.image.name}}" />
            </div>
            <div ng-if="!place.sticker.image.name" class="checkin-marker">
              <i class="fa fa-map-pin" aria-hidden="true"></i>
            </div>
            <div>
              <div class="name">
                {{ place.venue.name }}
              </div>
              <div class="category">
                {{ place.venue.categories[0].name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="life-week-container" ng-controller="LifeWeek as vm">
    <div class="content-container">
      <life-week weeks=vm.weeks my-age=vm.myAge window-width=windowWidth break-point=vm.breakPoint></life-week>
    </div>
  </div>
</div>
